Jinja2
jinja2-cli
pytest
virtualenv
tox
tox-venv
flake8

pyyaml
yq
jsonschema
jwt
wrapt
service
pycairo
python-igraph
pyvis
memory_profiler
xlrd
openpyxl

sqlalchemy
pymysql
mysql
pyodbc
boto3
botocore
moto

flask
flask_httpauth
flask-restplus
gunicorn
werkzeug
dash

numpy
pandas
scipy
scikit-learn
dask[complete]
feather-format

markdown
imageio
matplotlib
seaborn
plotly

opencv-python
nltk
gensim
spacy

tensorflow
torch
transformers
bert-embeddings
transformers

ipython
jupyterlab
py2nb
