requests
pyyaml
jsonschema


flask
flask_httpauth
flask-restplus
gunicorn
werkzeug
dash


markdown
imageio
matplotlib

numpy
pandas
scipy
scikit-learn
dask[complete]


matplotlib
seaborn
plotly

opencv-python
nltk
gensim


xlrd
openpyxl
