requests
pyyaml
jsonschema
jwt
service
pycairo
memory_profiler
feather-format

sqlalchemy
boto3
botocore
cx-Oracle
pymysql
pyodbc
mysql

flask
flask_httpauth
flask-restplus
gunicorn
werkzeug
dash

markdown
imageio
matplotlib
moto

numpy
pandas
scipy
scikit-learn
dask[complete]

matplotlib
seaborn
plotly

opencv-python
nltk
gensim
tensorflow

xlrd
openpyxl
