requests
pyyaml
yq
jsonschema
jwt
wrapt
service
pycairo
python-igraph
memory_profiler
xlrd
openpyxl

sqlalchemy
pymysql
mysql
pyodbc
boto3
botocore
moto
cx-Oracle

flask
flask_httpauth
flask-restplus
gunicorn
werkzeug
dash

numpy
pandas
scipy
scikit-learn
dask[complete]
feather-format

markdown
imageio
matplotlib
seaborn
plotly

opencv-python
nltk
gensim
spacy

tensorflow
