boto3
botocore
cx-Oracle
feather-format
flask
flask_httpauth
flask-restplus
gunicorn
imageio
jinja2
jinja2-cli
jsonschema
jwt
markdown
matplotlib
moto
mysql
numpy
openpyxl
panda
pandas
parameterized
paramiko
pymysql
pyodbc
pytest
pyyaml
requests
seaborn
service
sklearn
sqlalchemy
tox
tox-venv
werkzeug
wtforms
xlrd
pycairo
flake8
pandas-vet
memory_profiler
